%div.section#page-title
  %div
    %h1= "#{@albums.count} Albums, #{@albums.sum(:count)} Photos"

%hr

%div.section#album-list.clearfix
  - @albums.each do |album|
    %div.album
      %a{:href => album.album_url, :title => album.title}
        %img.img-circle.album-img{:src => album.cover_url, :alt => album.title}
      %div.album-info
        %span= album.title
        %span.badge= album.count

%hr

%div.section#history-list
  - @histories.each do |history|
    %div.history-item.clearfix
      %div= "#{history.update_date}"
      %div.history-title= "「#{@albums.find_by(id: history.album_id).title}」"
      %div.history-count= "#{history.count}枚追加"
