%h1
  更新履歴一覧
%table
  %tr
    %th= "id"
    %th= "update_date"
    %th= "count"
    %th= "album_id"
    %th= "削除する"
  - @histories.each do |history|
    %tr
      %td= history.id
      %td= history.update_date
      %td= history.count
      %td= history.album_id
      %td= link_to "削除する", history, method: :delete
= link_to "更新履歴を追加する", new_history_path
= link_to "アルバムを見る", albums_path
