= form_for @album do |f|
  = f.label :title
  = f.text_field :title
  = f.label :album_url
  = f.text_field :album_url
  = f.label :cover_url
  = f.text_field :cover_url
  = f.label :count
  = f.text_field :count
  = f.submit
